<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href='/harmonogram/'>

    <title>Harmonogram</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/custom.css">
    <!-- for jquery sliders -->
    <link rel="stylesheet" href="static/lib/css/jquery-ui.css">
    <link rel="icon" type="image/vnd.microsoft.icon"
     href="http://example.com/favicon.ico" />


</head>

<body>

  <!-- clust instruct container -->
  <div id='clust_instruct_container' >

  <h1 id='viz_website_title'>Harmonogram</h1>

  <div id='viz_gmt_labels'></div>

  <!-- <div id='title_viz_instruct_text'>About:</div> -->
  <div class='viz_instruct_text'> The clustergram visualizes gene appearance in Harmonizome resources. Genes are shown as rows and resources as columns. The gene occurance value is normalized relative to the occurance of other genes in the resource. Change the clustergram ordering by using the toggle switch or by clicking row or column labels. </div>

    <!-- button container -->
    <div id='button_container'>
      
      <!-- choose protein class  -->
      <div id='class_buttons' class="btn-group-vertical text-center" data-toggle="buttons" >

        <!-- <label class="btn btn-primary active" onclick="reorder_clust_rank('clust');"> -->
        <label class="btn btn-primary active prot_class" onclick="load_class_clustergram('KIN');">
          <input type="radio" name="options" id="clust_button" autocomplete="off" checked > Kinases
        </label>

        <label class="btn btn-primary  prot_class" onclick="load_class_clustergram('PP');" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Phosphatases
        </label>

        <label class="btn btn-primary  prot_class" onclick="load_class_clustergram('GPCR');" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > GPCRs
        </label>

        <label class="btn btn-primary prot_class" onclick="load_class_clustergram('IC');" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Ion Channels
        </label>

        <label class="btn btn-primary prot_class" onclick="load_class_clustergram('TF');" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Transcription Factors
        </label>

        <label class="btn btn-primary prot_class" onclick="load_class_clustergram('ACT');" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Acetyltransferases
        </label>

        <label class="btn btn-primary prot_class" onclick="load_class_clustergram('DACT');" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Deacetylases
        </label>

        <label class="btn btn-primary prot_class" onclick="load_class_clustergram('MET');" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Methyltransferases
        </label>

        <label class="btn btn-primary prot_class" onclick="load_class_clustergram('DMET');" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Demethylases
        </label>

      </div>

      <!-- <div id='toggle_order' class="btn-group" data-toggle="buttons" >
        <label class="btn btn-primary active prot_class" onclick="reorder_clust_rank('clust');">
          <input type="radio" name="options" id="clust_button" autocomplete="off" checked > Cluster
        </label>
        <label class="btn btn-primary prot_class" onclick="reorder_clust_rank('rank');">
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Rank
        </label>
      </div> -->

      <!-- toggle clustergram order -->
      <div id='toggle_order' class="btn-group" data-toggle="buttons" >
        <label class="btn btn-primary active order_name" onclick="d3_clustergram.reorder('clust');">
          <input type="radio" name="options" id="clust_button" autocomplete="off" checked > Cluster
        </label>
        <label class="btn btn-primary order_name" onclick="d3_clustergram.reorder('rank');">
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Rank
        </label>
        <!-- <label class="btn btn-primary order_name" onclick="d3_clustergram.reorder('class');">
          <input type="radio" name="options" id="class_button" autocomplete="off" > Class
        </label> -->
      </div>

    </div>

    <!-- resource key -->
    <div id='res_color_key_title' class='title_viz_instructs'>Resource Groups:</div>
    <div id='res_color_key_div'></div>


    <!-- input box for gene search -->
    <div id='gene_search_container' class='row'>
        <input id='gene_search_box' type="text" class="form-control" placeholder="Input Gene" aria-describedby="sizing-addon2">
        <div id='gene_search_button' class="btn-group" data-toggle="buttons" >
          <label id='gene_search_submit' class="btn btn-primary active " onclick="d3_clustergram.find_row();">
            <input type="radio" name="options" id="" autocomplete="off" checked > Search
          </label>
        </div>
    </div>

    <!-- <p>set column group size</p>
    <div id="slider_col"></div>
    <p>set row group size</p>
    <div id="slider_row"></div> -->

  </div>
  <!-- end clust instruct container -->

  <!-- svg_div - visualization will be put here -->
  <div id='svg_div' class='svg_div' ></div>


  <!-- footer -->
  <!-- <footer id='footer_div' class="footer navbar-fixed-bottom">
    <div class="row" > 
      <div class="col-xs-12 footer_section"> 
        <p class="text-muted">D3 Clustergram is being developed by the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Lab</a> at the <a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>. </p>
      </div>
    </div>
  </footer> -->
  <!-- end footer -->

  <!-- Required JS Libraries -->
  <script src="static/lib/js/d3.js"></script>
  <script src="static/lib/js/jquery-1.11.2.min.js"></script>
  <script src="static/lib/js/jquery-ui.js"></script>
  <script src="static/lib/js/underscore-min.js"></script>
  <script src="static/lib/js/underscore.strings.js"></script>
  <!-- d3_clustergram.js -->
  <script src='static/js/d3_clustergram.js'></script>
  <script src='static/lib/js/blockUI.js'></script>
  <!-- use d3_clustergram.js to load clustergram -->
  <script src='static/js/load_local_network.js'></script>
  <script src="static/lib/js/bootstrap.min.js"></script>

  <!-- set up group size sliders -->
  <script type="text/javascript">


  // initialize protein class 
  var inst_prot_class = '';
  // save global variable 
  glob_prot_class = inst_prot_class;
  
  // initial view of harmonogram 
  load_class_clustergram('KIN');

    // slider script - col 
    $(function() {
      $( "#slider_col" ).slider({
        value:0.5,
        min: 0,
        max: 1,
        step: 0.1,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_index = ui.value*10;

          // save slider value to global variable 
          d3_clustergram.params.group_level.col = ui.value*10 ;

          // change group size of col 
          d3.selectAll('.col_class_rect')
            .style('fill', function(d){
              return d3_clustergram.params.group_colors.col[d.group[inst_index]];
            });
        }
      });
      $( "#amount" ).val( "$" + $( "#slider_col" ).slider( "value" ) );
    });

    // slider script - row
    $(function() {
      $( "#slider_row" ).slider({
        value:0.5,
        min: 0,
        max: 1,
        step: 0.1,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_index = ui.value*10;

          // save slider value to global variable 
          d3_clustergram.params.group_level.row = ui.value*10 ;

          // change group size of row
          d3.selectAll('.row_class_rect')
            .style('fill', function(d){
              return d3_clustergram.params.group_colors.row[d.group[inst_index]];
            });
        }
      });
      $( "#amount" ).val( "$" + $( "#slider_row" ).slider( "value" ) );
    });

  </script>

</body>

</html>
